.loading_container {
    /* position: relative; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_container > img {
    border-radius: 50% !important;
}