.trendingAnimeCard_container {
    display: grid;
    width: 90vw;
    list-style: none;
    grid-template-rows: 280px; /* This sets the height of the row to take up all available space */
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-flow: column;
    overflow-x: hidden;
}

.trendingAnime_container {
    margin: 0 1rem;
    font-size: 1rem;
    color: #ed9e5a;

}

.trendingAnimeCard_container::-webkit-scrollbar {
    display: none;
}

.scrollBtn {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 40px;
    height: 49%;
}

.buttonContainer {
    display: block;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 280px;
    margin: 0 20px;
}



.slider_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}