.trendingAnime_container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: stretch;
    width: 100% !important;
    height: 100%;
}

.title_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* width: 40px; */
    overflow: hidden;
}

.anime_title {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    width: auto;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    margin-right: 12px;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cover_image {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.image_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.anime_ranking {
    color: #ed9e5a;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 0;
}